<h1>Greetings the new possible bro!</h1>
<p>Here is your auth token: </p>
<%= @applicant.access_token %>
<h5>Resources:</h5>
<p>Api path: /api</p>
<p>Api description: <a href="https://app.swaggerhub.com/apis/qxlab/dummy-todo/1.1.0" target="_blank">https://app.swaggerhub.com/apis/qxlab/dummy-todo/1.1.0</a></p>
<p>Mockup: <a href="https://www.figma.com/file/TqDBGoVZykTe9Bn77zdHu5ft/To-do-test-task-mockup" target="_blank">https://www.figma.com/file/TqDBGoVZykTe9Bn77zdHu5ft/To-do-test-task-mockup</a></p>